@import "tailwindcss";
@custom-variant hover (&:hover);

.post-item .post-title {
  position: relative;
}

.post-item .post-title::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  /* top: 6px; */
  top: 0;
  width: 24px;
  height: 28px;
  background-image: url('/link.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (width >=48rem) {
  .svg-inline--fa {
    display: none;
  }
}